*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
.idea/other.xml
.idea/deploymentTargetSelector.xml
.idea/inspectionProfiles/Project_Default.xml
app/src/androidTest/java/com/example/paymentreminder/ExampleInstrumentedTest.kt
.idea/deploymentTargetSelector.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/deploymentTargetSelector.xml
